.navbar {
  padding: 1.8rem 0;
  background-size: cover;
  background-color: black;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px -3px, rgba(0, 0, 0, 0.3) 0px 4px 6px -2px;
  font-family: Montserrat, sans-serif; /* Added font-family */
}

.navbar-brand {
  width: 90px;
  color:wheat;
  padding-top: 5%;
  font-family: Montserrat, sans-serif; /* Added font-family */
}

.brand-and-toggler {
  width: 100%;
}
h1{
  background: #FCEABB;
  background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}
.im{
  padding-right: 2rem;
}
.check {
  font-size: 3rem; /* Increase the font size */
  font-weight: bold; /* Make the text bolder */
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font or any other desired font */
  color: white; /* Set the desired text color */
  /* Add any additional styling properties or effects */
}

h2{
  background: #F5DEB3;
  background: linear-gradient(to left, #F5DEB3 21%, #EBB654 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}
.navbar-content {
  display: flex;
  width: 100%;
}

.navbar-nav .nav-link {
  color:wheat;
  font-family: Montserrat, sans-serif; /* Added font-family */
}

.navbar-nav .nav-link:hover {
  color: rgb(235, 182, 84);
}

.navbar-toggler-btn {
  transition: var(--transition);
  z-index: 11;
}

.side {
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: Montserrat, sans-serif; /* Added font-family */
  text-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
}

.navbar-collapse {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: var(--black-color);
  height: 100%;
  width: 320px; /* Increased width */
  display: flex;
  padding: 10rem 3rem 0 3rem;
  transform: translatex(100%);
  transition: var(--transition);
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    position: relative;
    height: auto;
    padding: 0;
    width: 100%;
    background-color: transparent;
    transform: translateX(0);
    justify-content: flex-end;
  }

  .navbar-toggler-btn {
    display: none;
  }

  .nav-item {
    margin-bottom: 0;
    margin-left: 2.8rem;
  }

  .nav-link {
    color: var(--black-color);
    font-size: 1.7rem;
    font-weight: 500 !important;
    opacity: 0.8;
  }

  .navbar-nav {
    display: flex;
  }
}
